/* body{
    margin: 0;
    padding: 0;
    background-image: url(./football.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
} */
p{
    color: blue;
}
.fbimg img{
    height: 500px;
    width: 401px;
    float: right;
}
